@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.App {
  text-align: center;
}

body {
  font-family: 'Lilita One', sans-serif;
  overflow-x: hidden;
}


@layer components {
  .right-line-after {
    @apply relative;
  }

  .right-line-after::after {
    content: '';
    bottom: 0;
    left: 0;
    border-right: 1px solid rgb(192, 192, 192);
    position: absolute;
    width: 100%;
    height: 95%;
    transform: translateY(-2.5%);
    z-index: -1;
  }
  .right-search-line-after{
    @apply relative;
  }
  
  .right-search-line-after::after{
    content: '';
    bottom: 0;
    left: 0;
    border-right: 2px solid gray;
    position: absolute;
    width: 100%;
    height: 120%;
    transform:translate(10%, 10%)
  }
  .galleryhover-before{
    @apply relative;
  }
  .galleryhover-before::before {
    content: '';
    position: absolute;
    top: 50%;         /* 세로 중앙 기준 */
    left: 3%;          /* 가로는 왼쪽 끝 */    
    width: 13px;
    height: 13px;
    background-color: gray;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  .clicked-before::before {
    background-color: #3b82f6; /* Tailwind bg-blue-500 */
  }
}

.custom-height {
  height: calc(200px - 100%);
}

.hide-scrollbar {
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE and Edge */
  }
.hide-scrollbar::-webkit-scrollbar {
    display: none;              /* Chrome, Safari, Opera */
  }
.all-unset{
  all:unset;
}

/* react-date-range 커스터마이징 스타일 */
/* 선택 기간 표시 - 제거 */
.rdrDateDisplayWrapper {
  display: none !important;
  height: 0 !important;
  min-height: 0 !important;
  max-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  background: none !important;
}

/* 옵션박스 년도, 월 제거 */
.rdrMonthPicker,
.rdrYearPicker {
  display: none !important;
}

/* 월 가운데 정렬 */
.rdrMonths{
  justify-content: center !important;
}

/* */
.rdrMonthAndYearWrapper {
  width: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

/* 달력 전체 */
.rdrCalendarWrapper {
  width: 100% !important;
  height: 100% !important;
  min-width: 0 !important;
  min-height: 0 !important;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', 'sans-serif' !important;
  color: black  !important;
  font-weight: 400 !important;
}

.rdrMonths {
  width: 100% !important;
  height: 100% !important;
  min-width: 0 !important;
  min-height: 0 !important;
}

.rdrMonth {
  width: 50% !important; /* 두 달이니까 50%씩 */
  min-width: 0 !important;
  position: relative;
}

/* 해당 달의 이름 */
.rdrMonthName{
  display: flex !important;
  font-size: 2em;
  align-items: center !important;
  justify-content: center !important;
  /* background-color: aqua; */
  padding: 4px 0 !important;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', 'sans-serif' !important;
  color:black !important;
  font-weight: 400 !important;
} 

.rdrWeekDay, .rdrDayNumber span  {
  font-size: 1.8em;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', 'sans-serif' !important;
  color: black  !important;
  font-weight: 400 !important;
}

/* 날짜간의 위아래 간격 */
.rdrDay {
  padding-top: 15px !important;
  height: 44px !important;
  box-sizing: border-box !important;
}

.rdrDayDisabled {
  color: #b0b0b0 !important;
}

@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradient-move 2s ease infinite;
}

@keyframes spin-buki {
  0% { transform: rotate(0deg) translateX(24px) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(24px) rotate(-360deg); }
}

.spinner-container {
  position: relative;
  width: 4rem;
  height: 4rem;
}

/* 공통 점 */
.spinner-dot {
  position: absolute;
  margin:auto;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  transform-origin: center;
  animation: spin-buki 1.2s linear infinite;
}

/* 잔상 (트레일) */
.spinner-trail {
  position: absolute;
  margin:auto;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  transform-origin: center;
  filter: blur(4px);
  opacity: 0.6;
  animation: spin-buki 1.2s linear infinite;
}

/* 핑크 */
.spinner-dot-pink { background: #ec4899; }
.spinner-trail-pink { 
  background: rgba(236, 72, 153, 0.6); 
  animation-delay: 0.05s; /* 핑크 잔상 지연 */
}

/* 보라 */
.spinner-dot-purple { background: #8b5cf6; }
.spinner-trail-purple { 
  background: rgba(139, 92, 246, 0.6); 
}

/* 반대쪽 (180° 지연) */
.opposite {
  animation-delay: -0.6s !important; /* 점과 잔상 모두 적용 */
}
/* 반대쪽 (180° 지연) */
.opposite1 {
  animation-delay: -0.55s !important; /* 점과 잔상 모두 적용 */
}

.spinner-background {
  position: absolute;
  inset: 0; /* top/right/bottom/left = 0 */
  margin: auto; /* 중앙 정렬 */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(139, 92, 246, 0.1);
  animation: pulse 1.2s ease-in-out infinite;
  z-index: 0; /* 원 뒤 */
}

/* 두근두근 애니메이션 */
@keyframes pulse {
  0%, 100% { transform: scale(0.3); }
  50% { transform: scale(0.8); }
}

@keyframes spin-login {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* 클래스 정의는 별도로 만들어야 함 */
.spin {
  animation: spin-login 1s linear infinite;
}

@keyFrames spin-redo {
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}

.redo-animation {
  animation: spin-redo 0.3s linear;
}

@keyframes bounce-dot {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}
.dot {
  width: 0.5rem; 
  height: 0.5rem;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  animation: bounce-dot 1.4s infinite ease-in-out;
}

.dot:nth-child(1) { animation-delay: 0s; }
.dot:nth-child(2) { animation-delay: 0.2s; }
.dot:nth-child(3) { animation-delay: 0.4s; }

@keyframes slideInRight {
  0% { transform: translateX(100%); opacity:0.5;}
  100% { transform: translateX(0%); opacity:1;}
}

@keyframes slideOutRight {
  0% { transform: translateX(0%); opacity:1;}
  100% { transform: translateX(100%); opacity:0.5;}
}

.slide-in-right {
  animation: slideInRight 0.7s forwards;
}

.slide-out-right {
  animation: slideOutRight 0.7s forwards;
}

@keyframes shimmer {
  0% {
    background-position: 200% 200%;
  }
  100% {
    background-position: -200% -200%;
  }
}

.shimmer-loader{
  background: linear-gradient(
    90deg,
    #f3f3f3 0%,       /* 중간 밝은 회색 */
    #f1f1f136 50%,       /* 끝 연한 회색 */
    #f3f3f3 100%
  );
  background-size: 200% 200%;
  animation: shimmer 2s ease infinite;
}

@keyframes grayToblue {
  0% {
    background-color: #e5e7eb;
  }
  100% {
    background-color: #3b82f6;
  }
}

.gray-to-blue {
  animation: grayToblue 0.3s forwards;
}



/* 
.rdrDayhovered .rdrDayNumber span,
.rdrDayActive .rdrDayNumber span {
  background-color: #3b82f6 !important;
  color: #fff !important;
} */