:global(.rdrDay.rdrWeekend) {
  color: #0000FF !important;
}

:global(.rdrDay.rdrWeekend:first-child) {
  color: #FF0000 !important;
}

:global(.rdrDay.rdrWeekend:last-child) {
  color: #0000FF !important;
} 